<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549760059710-f7u97vr5o4bmtko0t5ntcrogbdjnug4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549760059710-f7u97vr5o4bmtko0t5ntcrogbdjnug4j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549760059710-p4lk71jjsc41r9gqbr985vuc48sdtlc7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUeddbzE-9__yd0fs1-KJEFY5bWyedp4k</string>
	<key>GCM_SENDER_ID</key>
	<string>549760059710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithsora.authentication.authenticationApp</string>
	<key>PROJECT_ID</key>
	<string>authentication-app-c1cbb</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-app-c1cbb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549760059710:ios:5ee39afb268bc1f908046f</string>
</dict>
</plist>